GITHUB_TOKEN=TOKEN
PIRATE_WEATHER_API_KEY=KEY
HA_TOKEN=TOKEN
MODEL_NAME=gpt-4o
# MODEL_NAME=gpt-4o-mini
# a temperature of 0.0 is deterministic
TEMPERATURE=1.0
# Personality to use for the model
PERSONALITY="My name is Christa, I'd like you to be my personal assistant with the personality of Barbie, from the 2023 Barbie movie. Address me by my name. Calendar entries that reference 'Dad' are my husband, Ryan. A temperature below 70°F is considered cold."
ICAL_URL=URL
OPEN_WEATHER_API_KEY=KEY
HA_URL=URL