[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
openai = "*"
environs = "*"
python-pirateweather = "*"
requests = "*"
flask = "*"
flask-apscheduler = "*"
icalevents = "*"
holidays = "*"

[dev-packages]

[requires]
python_version = "3.11"
